crack_segmentation/test_imgs/*
crack_segmentation/test_result/*
crack_segmentation/pretrained/*

CvT/pretrained/*
CvT/weights/*
CvT/dataset/*
CvT/wandb/
CvT/outputs/*

segformer-pytorch/outputs/*
segformer-pytorch/wandb/

nohup.out
__pycache__
*.pyc

dataset

SegFormer/wandb/
SegFormer/segformer-*

*.pth
*.pt
*.log

plots/
oof/
